.app__header{
	height: $unit*7;
	padding: $unit $unit*2;
	background-color: $c-tr-cd-placeholder-1;
	color: #fff;
}
.app__header__title{
	line-height: $unit *5;
  float: left;
}
.app__header .sidebar-toggle{
  @include user-select-none;
  @include no-tap-color;
  cursor: pointer;
  width: $unit*5;
  height: $unit*5;
  border-radius: 50%;
  position: relative;
  float: left;
  transition: background 0.2s;
  margin-right: $unit;
  &:hover,
  &:focus{
    background-color:rgba(0,0,0,0.2);
  }
}

.app__header .hamburger-menu{
    $lineWidth: 2px;
    $lineLength: $unit*3;
    $headerHeight:$unit*5;

  background:#fff;
  position: absolute;
  width: $lineLength;
  height: $lineWidth;
  top: ($headerHeight / 2) - ($lineWidth / 2);
  left: ($headerHeight - $lineLength) /2;
  transition: width 0.4s;
  outline: 1px solid transparent;
  transition: background 0.4s;
  &:before, &:after{
    content: "";
    display: block;
    position: absolute;
    width: $lineLength;
    height: $lineWidth;
    top:0;
    background: #fff;
    transition: all 0.4s;
    outline: 1px solid transparent;
  }
  &:before{
    transform: translate(0,-8px);
  }
  &:after{
    transform: translate(0,8px);
  }
  .open &{
	  	background: none;
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
  }

}
