body{
	// position: relative;
}
.container{
	max-width: $unit*140;
	margin: 0 auto;
	padding-left: $unit*2;
	padding-right: $unit*2;
}

.app__container{
	background: $c-eltny-bg;
	margin-left: $sidebar-width;
	transition: margin 0.2s;
	.-js-sidebar-closed &{
		margin-left: 0;
	}
}