body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container{
	max-width: $unit*140;
	margin: 0 auto;
	padding-left: $unit*2;
	padding-right: $unit*2;
}

.app__container{
	background: $c-eltny-bg;
	margin-left: $sidebar-width;
	transition: margin 0.2s;
	.-js-sidebar-closed &{
		margin-left: 0;
	}

	display: flex;
	flex-direction: column;
	flex: auto;
}

//some of these rules should be moved to their related component files but I want to keep flexbox stuff in one place until early testing is complete
.files-page{
	flex: auto;
}
.app__header,
.page-footer{
	flex: 0 0 auto;
}
.color-container{
	flex: auto;
}