.sidebar{
	width: $sidebar-width;
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	border-right: 1px solid $c-eltny-line;
	transition: transform 0.2s;
	.-js-sidebar-closed &{
		transform: translateX(-300px);
	}
}
.sidebar-nav{

}
.sidebar-nav__li{
	&--1{
		@include list-item-divider(top);
		
	}
	&--2{

	}
}
.sidebar-nav__link{
	@include list-link-basic;
	&--1{
		@include heavyLink;
	}
	&--2{
		@include lightLink;
	}
}


