{% assign appData = site.data.appDefaults[0] %}
    <div class="page-footer">
      <div class="slt-banner">
        <div class="logo-holder">
          <img class="logo-slt" src="{{base}}images/logo-SLT.svg" alt="Shaping Learning Together">
        </div>
      </div>
      <div class="footer__oup-content">
        <a class="logo-oup-a" href="https://elt.oup.com/" target="_blank">
          <img src="{{base}}images/logo-OUP.svg" alt="Oxford University Press" class="logo-oup" width="160">
        </a>
        <div class="boring-footer-stuff">
          <p class="copyright-line">Copyright © Oxford University Press, {{appData.copyrightYear}}. All Rights Reserved.</p>
        </div>
      </div>
    </div>





</div>


<script src="{{base}}js/production.min.js"></script>
</body>
</html>