    <div class="page-footer">
      <div class="slt-banner">
        <div class="logo-holder">
          <img class="logo-slt" src="images/logo-SLT.svg" alt="Shaping Learning Together">
        </div>
      </div>
      <div class="footer__oup-content">
        <a class="logo-oup-a" href="https://elt.oup.com/">
          <img src="images/logo-OUP.svg" alt="Oxford University Press" class="logo-oup">
        </a>
        <div class="boring-footer-stuff">
          <p class="copyright-line">Copyright © Oxford University Press, 2016. All Rights Reserved.</p>
        </div>
      </div>
    </div>





</div>


<script src="js/production.min.js"></script>
</body>
</html>