//the footer appears on the home page only.
.page-footer{
	margin-top: $unit*2;
	background-color: #fff;
	flex: 0 0 auto;
}
.slt-banner{
	background-color: #fff;
	padding: $unit*1.5 $unit*2;
	.container{
		background:red;
		width: 100%;
		max-width: 1120px;	
		margin: 0 auto;
	}
	@include clearfix;
}
.logo-holder{
	float: right;
	position: relative;
	&:before{
		$this-c: $c-eltny-bg;
	    position: absolute;
	    display: block;
	    content: "";
	    top: -$unit*1.5;
	    right: 50%;
	    transform: translate(50%);
	    width: 0;
	    height: 0;
	    border-top: $unit solid $this-c;
	    border-right: $unit solid transparent;
	    border-left: $unit solid transparent;
	}
}
.logo-slt{
	display: block;
}

.footer__oup-content{
	display: flex;
	align-items: center;
	padding-right: $unit*2;
	margin: 0 auto;
	@include media-small{
		flex-direction: column;
		align-items: flex-start;
	}
}
.logo-oup-a{
	flex: 0 0 auto;
}
.logo-oup{
	max-width: 10em;
	display: block;

	@include media-small{
		align-self: flex-start;
	}
}
.boring-footer-stuff{
	flex: 1 1 auto;
	padding: $unit 0 $unit $unit*2 ;
  	@include footerText;
}

.copyright-line{
  text-align: right;
  @include media-small{
  	text-align: left;
  }
  padding-top: $unit;
}