//button mixins need rationalizing. The styles they output ar egood but it's too complex to create them and don't cover enough scenarios.

@mixin button-minimal{
	padding: 0.25em 0.5em;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color 0.2s;
	@include smooth-text;
	@include user-select-none;
	@include no-tap-color;

}

@mixin button-basic($backgroundColor: #aaa){
	@include button-minimal;
	background-color: $backgroundColor;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	&:hover{
		background-color: lighten($backgroundColor,10);
	}
}

@mixin button-inline($backgroundColor: #aaa){
	@include button-basic($backgroundColor);
	font-size: 0.8em;
	font-weight: 700;
}

@mixin button-toolbar($backgroundColor: #aaa){
	background-color: $backgroundColor;
	color: #fff;
	text-transform: uppercase;
	padding: 0.25em 0.5em;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s;
	@include smooth-text;
	@include user-select-none;
	@include no-tap-color;
	&:hover{
		background-color: lighten($backgroundColor,10);
	}
}
@mixin button-toolbar-isdropdown{
	padding-right: 1.6em;
	position: relative;
	&:after{
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		right: 0.5em;
		transform: translate(0, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0.4em 0.3em 0 0.3em;
		border-color: currentColor transparent transparent transparent;
	}
}

@mixin real-button-override{
	background: none;
    border: 0;
	line-height: inherit;
	font-size: inherit;
	margin:0;
}