//card padding defaults to $unit but it seems I use 0 most of the time - perhaps if undefined it should be 0.
@mixin card($backgroundColor: #fff, $padding: $unit){
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
  background-color: $backgroundColor;
  padding: $padding;
}

@mixin card-hover{
	transition: box-shadow 0.25s;
	&:hover{
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
	}
}

@mixin card-heavyShadow{
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

//elements below aren't strictly part of card. Should make 'card' and 'elements' below into elements and combine into card-view modules.
@mixin avatar($size){
	width: $size;
	height: $size;
	border-radius: 50%;
}

@mixin cardListHover{
	cursor: pointer;
	@include user-select-none;
	@include no-tap-color;
	transition: background-color 0.2s;
	&:hover{
		background-color: #eee;
	}
}
