//Dropdown is written to work with Bootstrap modal so probaly needs abstracting or removing in next release - or at least moving to a 'bootstrap specific' folder.
//helper class from boostrap:
.dropdown, .dropup {
    position: relative;
}

//apply to elements we use the bootstrap dropdown on (see views/_folder-view.scss > .files-view-controls-list for an example of implementation)
@mixin dropdown-basic($origin: top left){
    position: absolute;
    z-index: z("1");    
    background-color: #fff;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.35s;
    transform: translate(0, -20px) scale(0);
    opacity: 0;
    transform-origin: $origin;
    .open>& {
        display: block;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }    
      &:before{
            $this-c: #fff;
            $this-s: $unit*1.5;
            position: absolute;
            display: block;
            content: "";

            width: 0;
            height: 0;
            border-bottom: $this-s solid $this-c;
            border-right: $this-s solid transparent;
            border-left: $this-s solid transparent;
      }
    li{
        white-space: nowrap;
    	&:not(:first-child){
    		border-top: 1px solid $c-line;
    	}
    }
	li>a {
        padding: $unit $unit*3;
        display: block;
        min-width: $unit*16;
        cursor: pointer;
        @include user-select-none;
        @include no-tap-color;
        transition: background-color 0.2s;
        &:hover{
            background-color: #eee;
        }   
	}
}