.homepage{
  .app__header{
    background:#fff;
  }
  .hamburger-menu{
    background-color: #333;
    &:before,
    &:after{
      background-color: #333;
    }
  }
  .color-container{
    background-color: $c-eu2e-level-1-main;
    padding: $unit*2 0;
  }
  .file-list{
    margin-top: 0;
  }
  .page-footer{
    margin-top: 0;
  }
  .logo-holder:before{
    border-top: 8px solid $c-eu2e-level-1-main;
  }
}

.app__header{
  background-color: $c-eu2e-level-1-main;
}

.hero-header__container{
  background:#fff;
  padding-bottom: $unit;
}
.eu2e-title {
    max-height: 140px;
    display: block;
    margin: 0 auto;
}

.product-info__title {
  margin-top: 0.4em;
  font-size: 1.6em;
  color: $c-eu2e-level-1-main;
  text-align: center;
}

.eu2e-specific-banner-image{
  height: 298px;
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 6226px;
    background-image: url(../images/course-specific/scene2.png);
    background-repeat: repeat-x;
    background-position: 0 -1px;
    top: 0;
    left: 0;
    animation: movingBG2 90s infinite linear;
  }
  @at-root{
    @keyframes movingBG{
      to{
        background-position: 0 0;
      }
    }
  }
  @at-root{
    @keyframes movingBG2{
      to{
        transform: translateX(-3113px);
      }
    }
  }
}

//sidebar
.sidebar-nav__link{
  &--is-open{
    color: $c-eu2e-level-1-main;
    background-color: rgba($c-eu2e-level-1-main,0.3);
  }
  &:hover{
    color: $c-eu2e-level-1-main;
  }
}

//t&c modal:
.modal-backdrop {
  background-color: $c-eu2e-level-1-main;
}
