$unit: 8px;

$base-font-stack: "Open Sans", "Roboto", "Helvetica Neue",sans-serif;
$base-font-size: $unit*2;
$base-line-height: 1.5;
$base-text-color: #333;

$fw-light: 300;
$fw-reg: 400;
$fw-semi: 600;


$c-eltny-bg: rgb(228,232,235);
$c-eltny-line: #ccc;
$c-eltny-close: rgb(200,0,40);
$c-eltny-light-text: #666;
$c-eltny-lightest-text: #888;

$c-eltny-link: #00A1D2;

$c-eltny-disabled-text: #999;

$c-eltny-audio: #EA7F00;

$c-hover-color: #eee !default;

$c-button-1: red !default;